<div class="header">
  <div class="Logo"><img src="assets/images/UPC-logo.png" alt="Logo UPC" /></div>
  <nav>
    <a (click)="scrollToElement('Inicio')" style="cursor: pointer;">Inicio</a>
    <a (click)="scrollToElement('Informacion')" style="cursor: pointer;">Informacion</a>
    <a (click)="scrollToElement('Aplicacion')" style="cursor: pointer;">Nuestra aplicación</a>
    <a (click)="scrollToElement('Equipo')" style="cursor: pointer;">Nosotros</a>
  </nav>
</div>
<div class="main">
  <section id="Inicio" class="inicio">
    <div class="inicio-div1">
        <h2>Calcula tu crédito vehicular</h2>

        <p>Utiliza nuestra aplicación y con unos pocos
            datos podrás calcular tu cronograma de pagos
            en minutos.<br>
            Regístrate o inicia sesión para hacer tu simulación</p>

        <a class="boton" (click)="loginEvent.emit()"><b>EMPIEZA AHORA</b></a>
    </div>
    <!-- <div class="inicio-div2">
        <img src="assets/images/prestamo-vehicular.jpg" alt="Credito vehicular"><br>
        <button class="boton" href="#"><b>EMPIEZA AHORA</b></button>
    </div> -->
</section>
<section id="Informacion" class="informacion">
    <div class="introduccion">
        <br>
        <hr>
        <p>La solicitud de un crédito vehicular en Perú
            es una de las opciones más frecuentes y populares,
            ya que nos brinda la posibilidad de adquirir un
            vehículo que facilita nuestra movilidad tanto
            para compromisos laborales como para
            necesidades familiares.<br><br>
            A continuación algunos conceptos a tener en cuenta:
        </p>
        <hr><br>
    </div>
    <div class="conceptos">
        <ul>
            <li>
                <h3>Analiza tu situación</h3>
                <p>Antes de solicitar un crédito vehicular,
                    es fundamental realizar un análisis
                    exhaustivo de tu situación financiera
                    y personal. Debes considerar tus ingresos,
                    gastos mensuales, y otros compromisos
                    financieros. Es importante tener en
                    cuenta tus necesidades de movilidad y
                    cómo un vehículo contribuirá a mejorar tu
                    calidad de vida.</p>
            </li>
            <li>
                <h3>Tasas de interés y entidad financiera</h3>
                <p>La tasa de interés es un factor crucial al
                    solicitar un crédito vehicular. Debes
                    investigar y comparar las tasas ofrecidas
                    por diversas entidades financieras. Las
                    tasas pueden variar significativamente, y
                    elegir la entidad con la tasa más baja
                    puede ahorrarte dinero a lo largo
                    del préstamo.</p>
            </li>
            <li>
                <h3>Amortización financiera</h3>
                <p>Debes comprender cómo se distribuirán tus
                    pagos a lo largo del tiempo. Esto incluye
                    la cantidad de las cuotas, la frecuencia de
                    los pagos y cómo se calculan los intereses.
                    Comprender la amortización te ayudará a
                    planificar tu presupuesto y saber cuándo
                    habrás completado el pago del préstamo.</p>
            </li>
            <li>
                <h3>Piensa en estrategias o modalidades
                    de financiamiento</h3>
                <p>Existen diversas modalidades de financiamiento
                     para créditos vehiculares. Debes analizar
                     cuál de estas modalidades se ajusta mejor
                     a tus necesidades y situación financiera. </p>
            </li>
        </ul>
    </div>
    <br>
</section>
<section id="Aplicacion" class="aplicacion">
    <div>
        <p><br>Hemos desarrollado una aplicación que simula un crédito
            vehicular
        </p>
    </div>
    <div class="app-info">
        <div class="usuario">
            <h3>Accede con una cuenta a nuestra aplicacion</h3>
            <img src="assets/images/avatar.png" alt="avatar">
            <img src="assets/images/base-de-datos.png" alt="base de datos">

            <h3>Podrás acceder las veces que quieras
                para hacer tu simulación
            </h3>
        </div>
        <div class="operaciones">
            <h3>Utiliza el formulario para empezar a
                calcular tu crédito vehicular
            </h3>
            <img src="assets/images/formulario.png">
        </div>
        <div class="cronograma">
            <h3>Obtendrás tu cronograma de pagos de
                forma detallada y exacta
            </h3>
            <img src="assets/images/cronograma.png">
        </div>
    </div>
    <div class="btn">
        <a (click)="loginEvent.emit()">PRUÉBALA AHORA</a>
    </div>
    <br>
</section>
<section id="Equipo" class="equipo">
    <div class="equipo-div1">
        <br>
        <h3>Somos un grupo de estudiantes de las carreras
            de Ingeniería de Software/Sistemas de la
            Información
        </h3>
        <br>
    </div>
    <div class="integrantes">
        <ul>
            <li>
                <h3>Alvaro Gustavo Lamg Chang</h3>
            </li>
            <li>
                <h3>Jorge Gerardo Quilla Luyo</h3>
            </li>
            <li>
                <h3>Mauricio Oliveira Paucar</h3>
            </li>
            <li>
                <h3>Rony Piero Ticona Luque</h3>
            </li>
        </ul>
        <br>
    </div>
</section>
</div>
<div class="footer">
  <div>
    <ul>
        <hr>
        <li><b><a href="#" target="_blank">Tasas de interés</a></b></li><br>
        <li><b><a href="#" target="_blank">Transparencia de información</a></b></li>
    </ul>
  </div>
</div>



