<div class="body">
  <div class="header">
    <div class="header-div1">
      <img src="assets/images/avatar.png" alt="Usuario" />
      <h1>
        <b>{{ user.firstName }}</b>
      </h1>
    </div>
    <div class="header-div2">
      <nav>
        <a class="toInicio" (click)="scrollToElement('Inicio')"
          ><img src="assets/images/logo-inicio.png" alt="logo-inicio" /><b
            >Inicio</b
          ></a
        >
        <a class="toOperaciones" (click)="scrollToElement('Operaciones')"
          ><img src="assets/images/operaciones.png" alt="logo-operaciones" /><b
            >Operaciones</b
          ></a
        >
      </nav>
      <button (click)="logoutEvent.emit()"><b>Logout</b></button>
    </div>
  </div>
  <div class="main">
    <section id="Inicio" class="inicio">
      <div class="inicio-div1">
        <h1>Bienvenido, {{ user.firstName }}!</h1>
        <img src="assets/images/UPC-logo.png" alt="Logo UPC" />
      </div>
      <h3>Principales entidades financieras</h3>
      <div class="entidades">
        <div>
          <a href="https://www.viabcp.com/" target="_blank"
            ><img src="assets/images/bcp.png" alt="bcp"
          /></a>
        </div>
        <div>
          <a href="https://www.bbva.pe/" target="_blank"
            ><img src="assets/images/bbva.png" alt="bbca"
          /></a>
        </div>
        <div>
          <a href="https://www.bn.com.pe/" target="_blank"
            ><img src="assets/images/banco-de-la-nacion.jpg" alt="bn"
          /></a>
        </div>
        <div>
          <a href="https://www.scotiabank.com.pe/" target="_blank"
            ><img src="assets/images/scotiabank.png" alt="scotiabank"
          /></a>
        </div>
        <div>
          <a href="https://www.bancofalabella.pe/" target="_blank"
            ><img src="assets/images/falabella.png" alt="falabella"
          /></a>
        </div>
        <div>
          <a href="https://www.bancoripley.com.pe/" target="_blank"
            ><img src="assets/images/ripley.png" alt="ripley"
          /></a>
        </div>
        <div>
          <a href="https://www.pichincha.pe/" target="_blank"
            ><img src="assets/images/pichincha.png" alt="pichincha"
          /></a>
        </div>
        <div>
          <a href="https://interbank.pe/" target="_blank"
            ><img src="assets/images/interbank.png" alt="interbank"
          /></a>
        </div>
        <div>
          <a href="https://www.banbif.com.pe/" target="_blank"
            ><img src="assets/images/banbif.png" alt="banbif"
          /></a>
        </div>
        <div>
          <a href="https://www.mibanco.com.pe/" target="_blank"
            ><img src="assets/images/mibanco.png" alt="mibanco"
          /></a>
        </div>
      </div>
    </section>
    <section id="Operaciones" class="operaciones" *ngIf="!isCalculo">
      <h1>Operaciones</h1>
      <div>
        <form id="calcularForm">
          <div class="moneda">
            <label for="tipo_moneda">Tipo de moneda</label>
            <select
              id="tipo_moneda"
              name="tipo_moneda"
              [(ngModel)]="tipo_moneda"
            >
              <option value="sol">Sol</option>
              <option value="dolar">Dolar</option>
            </select>
          </div>
          <br />

          <div class="precio">
            <label for="precio">Valor del vehiculo</label
            ><input
              type="number"
              id="precio"
              name="precio"
              [(ngModel)]="precio"
              required
            />
          </div>

          <br />

          <div class="cuota-inicial">
            <label for="cuota_inicial">Cuota inicial</label
            ><input
              type="number"
              id="cuota_inicial"
              name="cuota_inicial"
              [(ngModel)]="cuota_inicial"
              (change)="verificarInicial()"
              [disabled]="!isCuotaInicial"
            />
          </div>

          <br />

          <div class="capital">
            <label for="capital">Capital</label
            ><input
              type="number"
              id="capital"
              name="capital"
              [(ngModel)]="capital"
              (change)="verificarInicial()"
              [disabled]="!isCapital"
            />
          </div>

          <br />

          <div class="elegir-banco">
            <label for="banco">Banco</label>
            <select
              name="banco"
              id="banco"
              (change)="desactivarTasa()"
              [(ngModel)]="banco"
            >
              <option value=""></option>
              <option value="bbva">BBVA</option>
              <option value="bcp">BCP</option>
              <option value="banbif">BANBIF</option>
              <option value="scotiabank">Scotiabank</option>
              <option value="santander">Santander</option>
            </select>
          </div>

          <br />

          <div class="tasa-interes">
            <label>Tasa de interes</label>
            <div class="tasa-interes-divs">
              <div class="tasa-interes-div1">
                <div>
                  <label for="nominal"
                    >Nominal<input
                      type="checkbox"
                      id="nominal"
                      data-target="valor-tasa-nominal"
                      name="nominal"
                      [(ngModel)]="isNominal"
                      [disabled]="!isNominalCheckbox"
                      (change)="checkboxChange()"
                  /></label>
                </div>
                <div>
                  <label for="valor-tasa-nominal"
                    >Valor
                    <input
                      type="number"
                      name="valor-tasa-nominal"
                      id="valor-tasa-nominal"
                      [(ngModel)]="valor_tasa_nominal"
                      [disabled]="!isNominal"
                    />
                    %</label
                  >
                </div>
              </div>
              <div class="tasa-interes-div2">
                <div>
                  <label for="efectiva"
                    >Efectiva<input
                      type="checkbox"
                      id="efectiva"
                      data-target="valor-tasa-efectiva"
                      name="efectiva"
                      [(ngModel)]="isEfectiva"
                      [disabled]="!isEfectivaCheckbox"
                      (change)="checkboxChange()"
                  /></label>
                </div>
                <div>
                  <label for="valor-tasa-efectiva"
                    >Valor
                    <input
                      type="number"
                      id="valor-tasa-efectiva"
                      name="valor-tasa-efectiva"
                      [(ngModel)]="valor_tasa_efectiva"
                      [disabled]="!isEfectiva"
                    />
                    %</label
                  >
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="capitalizacion">
            <label for="capitalizacion">Capitalizacion</label
            ><!--input type="text" id="capitalizacion" name="capitalizacion"-->
            <select
              name="capitalizacion"
              id="capitalizacion"
              [(ngModel)]="capitalizacion"
              [disabled]="!isNominal"
            >
              <option value="360">diaria</option>
              <option value="12">mensual</option>
              <option value="6">bimestral</option>
              <option value="4">trimestral</option>
              <option value="3">cuatrimestral</option>
              <option value="2">semestral</option>
            </select>
          </div>
          <br />

          <div class="frecuencia_de_pago">
            <label for="frecuencia_pago">Frecuencia de pago</label>
            <select
              name="frecuencia_pago"
              id="frecuencia_pago"
              [(ngModel)]="frecuencia_pago"
            >
              <option value="30">mensual</option>
              <option value="60">bimestral</option>
              <option value="90">trimestral</option>
              <option value="120">cuatrimestral</option>
              <option value="180">semestral</option>
              <option value="360">anual</option>
            </select>
          </div>

          <br />
          <div class="periodo">
            <label>Periodo de la operacion</label>
            <div class="periodo-div">
              <label for="inicio">Inicio</label
              ><input
                type="date"
                id="inicio"
                name="inicio"
                [(ngModel)]="inicio"
                required
              />
              <label for="fin">Fin</label
              ><input
                type="date"
                id="fin"
                name="fin"
                [(ngModel)]="fin"
                required
              />
            </div>
          </div>
          <br />

          <div class="plazo-gracia">
            <label>Plazo de gracia</label>
            <div class="plazo-gracia-divs">
              <div class="plazo-gracia-div2">
                <div>
                  <label
                    >Total<!--input type="checkbox" id="total" name="total"--></label
                  >
                </div>
                <div>
                  <!-- <input type="text" id="valor-plazo-total" name="valor-plazo-total"> -->
                  <!-- <select name="periodos_total" id="periodos_total"></select> -->
                  <label for="total-desde"
                    >Empieza en periodo N°
                    <input
                      type="number"
                      id="total-desde"
                      name="total-desde"
                      [(ngModel)]="total_desde"
                    />
                  </label>
                  <br />
                  <label for="total-cantidad"
                    >Cantidad de periodos
                    <input
                      type="number"
                      id="total-cantidad"
                      name="total-cantidad"
                      [(ngModel)]="total_cantidad"
                  /></label>
                </div>
              </div>
              <div class="plazo-gracia-div1">
                <div>
                  <label
                    >Parcial<!--input type="checkbox" id="parcial" name="parcial"--></label
                  >
                </div>
                <div>
                  <!-- <input type="text" id="valor-plazo-parcial" name="valor-plazo-parcial"> -->
                  <!-- <select name="periodos_parcial" id="periodos_parcial"></select> -->
                  <label for="parcial-desde"
                    >Empieza en periodo N°
                    <input
                      type="number"
                      id="parcial-desde"
                      name="parcial-desde"
                      [(ngModel)]="parcial_desde"
                  /></label>
                  <br />
                  <label for="parcial-cantidad"
                    >Cantidad de periodos
                    <input
                      type="number"
                      id="parcial-cantidad"
                      name="parcial-cantidad"
                      [(ngModel)]="parcial_cantidad"
                  /></label>
                </div>
              </div>
            </div>
          </div>
          <br />
          <button type="submit" (click)="calcular()">Registrar</button>
        </form>
      </div>
    </section>
    <section id="Resultados" class="resultados" *ngIf="isCalculo">
      <div id="Datos" class="datos">
        <h2>Tu Plan de Pagos está listo</h2>
        <h3>Método Francés</h3>
        <h3>Precio de venta = {{precio}}</h3>
        <h3>Cuota inicial = {{cuota_inicial}}</h3>
        <h3>% Cuota incial = {{cuota_inicial/precio*100}}%</h3>
        <h3>Tasa efectiva {{getFrecuenciaPago()}} = {{getTasaFinal()}}%</h3>
      </div>
      <div id="tabla-resultados" class="tabla_resultados">
        <table class="table">
          <thead>
            <tr>
              <th>N</th>
              <th>Periodo de gracia</th>
              <th>Saldo Inicial</th>
              <th>Interes</th>
              <th>Amortizacion</th>
              <th>Cuota</th>
              <th>Saldo Final</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let resultado of resultados">
              <td>{{ resultado.n.toFixed(2) }}</td>
              <td>{{ resultado.gracia }}</td>
              <td>{{ resultado.saldo_inicial.toFixed(2) }}</td>
              <td>{{ resultado.interes.toFixed(2) }}</td>
              <td>{{ resultado.amortizacion.toFixed(2) }}</td>
              <td>{{ resultado.cuota.toFixed(2) }}</td>
              <td>{{ resultado.saldo_final.toFixed(2) }}</td>
            </tr>
            <tr>
              <td colspan="3">TOTAL</td>
              <td>{{sumaInteres().toFixed(2)}}</td>
              <td>{{sumaAmortizacion().toFixed(2)}}</td>
              <td>{{sumaCuota().toFixed(2)}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="Flujo-de-caja" class="flujo_caja">
        <div id="van-tir" class="van_tir">
          <h3>Valor Actual Neto (VAN) = {{getVanVal().toFixed(2)}}</h3>
          <h3>{{getVanResult()}}</h3>
          <h3>Tasa Interna de Retorno (TIR) = {{(getTirVal()*100).toFixed(2)}}</h3>
          <h3>{{getTirResult()}}</h3>
        </div>
        <div id="flujo" class="tabla-flujo">
          <table>
            <thead>
              <tr>
                <th>Flujo de caja</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resultado of resultados">
                <td>{{resultado.cuota.toFixed(2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
